server:
  port: 8088

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/audit
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

app:
  security:
    api-key: ${API_KEY_AUDIT:dev-secret}
